@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');

$font-stack: 'Source Sans Pro', sans-serif;

$background-color: #fff;

$primary-color: #2fabff;
$secondary-color: #99d7ff;
$tertiary-color: #dbe8fc;
$accent-color: #ffa630;
$accent-medium: #ffc06d;
$accent-light: #fffcf2;
$ink-color: #cbeaff;
$ink-color-secondary: #eef8ff;
$warn-color: #d28a8a;
$warn-background: #fff2f2;
$ok-color: #52cd9f;
$ok-background: #cdede1;

$error-color: #dc4d43;

$font-primary: #5a5a5a;
$font-secondary: #aaa;
$font-on-dark: #fff;
$font-light: #999;

$google-color: #dc4d43;
$facebook-color: #3c5899;

$border-color: #ccc;
$border-light-color: #f9f9f9;
$input-color: #eee;
$input-light-color: #f6f6f6;

$shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-main: 6px 0 10px 0 rgba(0, 0, 0, 0.04);
$shadow-full: 1px 1px 4px 2px rgba(0, 0, 0, 0.02);
$shadow-dark: 1px 1px 4px 2px rgba(150, 150, 150, 0.2);

$light-gray: #fafafa;
