{
  // This is the configuration file for ESLint.
  // Read more:
  // https://eslint.org/docs/user-guide/configuring

  "extends": [
    // Extend @bence.a.toth's config
    // Read more:
    // https://github.com/bence-toth/eslint-config
    "@bence.a.toth/eslint-config",
    "plugin:vue/recommended"
  ],

  "globals": {
    "define": "readonly"
  },

  "rules": {
    "fp/no-this": 0
  },

  "ignorePatterns": [
    "test/**/*",
    "public/**/*",
    "src/assets/**/*",
    "src/dist/**/*",

    "src/app/collections/AccountCollection.js",
    "src/app/collections/AnnualReportDataCollection.js",
    "src/app/collections/BalanceDataCollection.js",
    "src/app/collections/BudgetFileCollection.js",
    "src/app/collections/BudgetListCollection.js",
    "src/app/collections/CollectDebtsCollection.js",
    "src/app/collections/CompanyCollection.js",
    "src/app/collections/CompanyStatsCollection.js",
    "src/app/collections/CompanyUserCollection.js",
    "src/app/collections/CompanyUserInvitationsCollection.js",
    "src/app/collections/ConnectionCollection.js",
    "src/app/collections/ConnectionStoreCollection.js",
    "src/app/collections/ConnectionSubscriptionCollection.js",
    "src/app/collections/CountryCollection.js",
    "src/app/collections/DashboardCollection.js",
    "src/app/collections/DashboardKpiCollection.js",
    "src/app/collections/DataCollection.js",
    "src/app/collections/DepartmentCollection.js",
    "src/app/collections/DrilldownDataCollection.js",
    "src/app/collections/ExportCollection.js",
    "src/app/collections/IndustryCollection.js",
    "src/app/collections/InvitationCollection.js",
    "src/app/collections/InviteEmailCollection.js",
    "src/app/collections/KpiCollection.js",
    "src/app/collections/LanguageCollection.js",
    "src/app/collections/LedgerEntryCollection.js",
    "src/app/collections/PresentationTemplateCollection.js",
    "src/app/collections/PublicDataCollection.js",
    "src/app/collections/RecipientCollection.js",
    "src/app/collections/SalesPotentialDataCollection.js",
    "src/app/collections/StatsCollection.js",
    "src/app/collections/UnitCollection.js",
    "src/app/collections/WarningsCollection.js",
    "src/app/config/annual-report-accounts.js",
    "src/app/config/annual-report-names.js",
    "src/app/config/assets.js",
    "src/app/config/browsers.js",
    "src/app/config/categories.js",
    "src/app/config/data-dashboard.js",
    "src/app/config/date-pointer.js",
    "src/app/config/erp-providers.js",
    "src/app/config/industry-main-groups.js",
    "src/app/config/invert-categories.js",
    "src/app/config/partners.js",
    "src/app/config/routes.js",
    "src/app/config/settings-dev.js",
    "src/app/config/settings-docker.js",
    "src/app/config/settings-prod.js",
    "src/app/config/settings-staging.js",
    "src/app/config/test-data.js",
    "src/app/config/tutorials.js",
    "src/app/constants/currencies.js",
    "src/app/constants/invoicesSortParams.js",
    "src/app/constants/reportPageTypes.js",
    "src/app/constants/session.js",
    "src/app/constants/ui/cashbook.js",
    "src/app/constants/ui/intervals.js",
    "src/app/constants/userRoles.js",
    "src/app/directives/click-outside-closable.js",
    "src/app/directives/close-on-escape-press.js",
    "src/app/directives/handle-enter-press.js",
    "src/app/elements/app.style.js",
    "src/app/elements/collect-debt.js",
    "src/app/elements/company-list.js",
    "src/app/elements/condition-summary.js",
    "src/app/elements/connection-card.js",
    "src/app/elements/connection-grid.js",
    "src/app/elements/connection-permissions.js",
    "src/app/elements/custom-export.js",
    "src/app/elements/custom-switch.js",
    "src/app/elements/dashboard-editor.js",
    "src/app/elements/date-field.js",
    "src/app/elements/date-picker.js",
    "src/app/elements/drilldown-card.js",
    "src/app/elements/drilldown-labels.js",
    "src/app/elements/dropdown.js",
    "src/app/elements/dropdown/custom-dropdown.js",
    "src/app/elements/dropdown/intervals-selector.js",
    "src/app/elements/dropdown/option.js",
    "src/app/elements/file-uploader.js",
    "src/app/elements/financial-report.js",
    "src/app/elements/financial-years.js",
    "src/app/elements/industry-selector.js",
    "src/app/elements/inventio-uploader.js",
    "src/app/elements/invite-user-settings.js",
    "src/app/elements/kpi-editor.js",
    "src/app/elements/kpi-grid.js",
    "src/app/elements/likvido-notification.js",
    "src/app/elements/line-chart.js",
    "src/app/elements/math-formula.js",
    "src/app/elements/modals/add-new-connection.js",
    "src/app/elements/modals/add-new-dashboard.js",
    "src/app/elements/modals/add-new-kpi.js",
    "src/app/elements/modals/add-new-notification.js",
    "src/app/elements/modals/approve-mismatching-data-confirm.js",
    "src/app/elements/modals/ask-to-connect.js",
    "src/app/elements/modals/change-email-confirm.js",
    "src/app/elements/modals/connect-companies.js",
    "src/app/elements/modals/connection-settings.js",
    "src/app/elements/modals/copy-link-modal.js",
    "src/app/elements/modals/create-new-report.js",
    "src/app/elements/modals/data-updating.js",
    "src/app/elements/modals/economic-confirmation.js",
    "src/app/elements/modals/economic-managed-account.js",
    "src/app/elements/modals/edit-page.js",
    "src/app/elements/modals/edit-presentation.js",
    "src/app/elements/modals/financial-aid-packages.js",
    "src/app/elements/modals/get-link.js",
    "src/app/elements/modals/invite-friends.js",
    "src/app/elements/modals/invite-new-user.js",
    "src/app/elements/modals/invite-to-crediwire.js",
    "src/app/elements/modals/ledger-modal.js",
    "src/app/elements/modals/manage-account-modal.js",
    "src/app/elements/modals/modal.js",
    "src/app/elements/modals/multiple-invitations.js",
    "src/app/elements/modals/partial-mapping-confirm.js",
    "src/app/elements/modals/resend-company-approval.js",
    "src/app/elements/modals/resend-confirm.js",
    "src/app/elements/modals/resend-invitation.js",
    "src/app/elements/modals/resend-reminders.js",
    "src/app/elements/modals/save-template.js",
    "src/app/elements/modals/seges-popup.js",
    "src/app/elements/modals/set-goals-dialog.js",
    "src/app/elements/modals/show-automap-failure.js",
    "src/app/elements/modals/show-automap-partial.js",
    "src/app/elements/modals/show-automap-success.js",
    "src/app/elements/modals/show-connection-confirm.js",
    "src/app/elements/modals/show-decline-dialogue.js",
    "src/app/elements/modals/show-departaments.js",
    "src/app/elements/modals/show-new-invitations-modal.js",
    "src/app/elements/modals/show-owner-info.js",
    "src/app/elements/modals/show-warning.js",
    "src/app/elements/modals/updating-data.js",
    "src/app/elements/modals/user-invitation-modal.js",
    "src/app/elements/modals/user-settings-dialog.js",
    "src/app/elements/ms-dynamics-wizard.js",
    "src/app/elements/stats-table.js",
    "src/app/elements/switch-with-labels.js",
    "src/app/elements/tutorial-slide.js",
    "src/app/elements/user-settings.js",
    "src/app/elements/valid-ledger.js",
    "src/app/elements/vat-mismatch-warning.js",
    "src/app/helpers/promiseHelpers.js",
    "src/app/mixins/addConnectionMixin.js",
    "src/app/mixins/companyErpMixin.js",
    "src/app/mixins/contextMixin.js",
    "src/app/mixins/easyViewMixin.js",
    "src/app/mixins/getIconsMixin.js",
    "src/app/mixins/logoWidthMixin.js",
    "src/app/mixins/permissionsMixin.js",
    "src/app/mixins/presentationMixin.js",
    "src/app/models/AssetModel.js",
    "src/app/models/BrowserModel.js",
    "src/app/models/BudgetFileModel.js",
    "src/app/models/BudgetModel.js",
    "src/app/models/CompanyModel.js",
    "src/app/models/CompanyUserInvitationModel.js",
    "src/app/models/CompanyUserModel.js",
    "src/app/models/ConditionModel.js",
    "src/app/models/ConnectionSubscriptionModel.js",
    "src/app/models/ContextModel.js",
    "src/app/models/DashboardKpiModel.js",
    "src/app/models/DashboardModel.js",
    "src/app/models/DateRangeModel.js",
    "src/app/models/DictionaryModel.js",
    "src/app/models/ErpModel.js",
    "src/app/models/ExportModel.js",
    "src/app/models/FileModel.js",
    "src/app/models/InvitationEmailModel.js",
    "src/app/models/InvitationModel.js",
    "src/app/models/InviteTokenModel.js",
    "src/app/models/InvoiceModel.js",
    "src/app/models/KpiModel.js",
    "src/app/models/PartnerModel.js",
    "src/app/models/RecipientModel.js",
    "src/app/models/SeeConnectionModel.js",
    "src/app/models/SharedConnectionModel.js",
    "src/app/models/UniqueConnectionModel.js",
    "src/app/models/UnitModel.js",
    "src/app/models/UserModel.js",
    "src/app/models/ValidLedgerModel.js",
    "src/app/models/WarningExceptionModel.js",
    "src/app/models/WarningModel.js",
    "src/app/models/XSRFModel.js",
    "src/app/services/API.js",
    "src/app/services/C5.js",
    "src/app/services/Cache.js",
    "src/app/services/ClientService.js",
    "src/app/services/Config.js",
    "src/app/services/CookieConsent.js",
    "src/app/services/Dinero.js",
    "src/app/services/DynamicsParser.js",
    "src/app/services/EconomicSelf.js",
    "src/app/services/ErrorHandler.js",
    "src/app/services/EventBus.js",
    "src/app/services/FinancialReportHelpers.js",
    "src/app/services/HexUtils.js",
    "src/app/services/InventioParser.js",
    "src/app/services/LocalStore.js",
    "src/app/services/Logger.js",
    "src/app/services/Logout.js",
    "src/app/services/ManualRun.js",
    "src/app/services/NumberFormatter.js",
    "src/app/services/Partner.js",
    "src/app/services/PersistentSettings.js",
    "src/app/services/RecoveryEmail.js",
    "src/app/services/Seges.js",
    "src/app/services/SessionStore.js",
    "src/app/services/SortingService.js",
    "src/app/services/Toast.js",
    "src/app/services/Track.js",
    "src/app/services/Tutorial.js",
    "src/app/services/Validator.js",
    "src/app/services/Xena.js",
    "src/app/store/budgetMutationTypes.js",
    "src/app/store/companyMutationTypes.js",
    "src/app/store/connectionsMutationTypes.js",
    "src/app/store/dashboardMutationTypes.js",
    "src/app/store/invoicesMutationTypes.js",
    "src/app/store/notificationsMutationTypes.js",
    "src/app/store/persist-store.js",
    "src/app/store/presentationMutationTypes.js",
    "src/app/store/sessionMutationTypes.js",
    "src/app/store/store.js",
    "src/app/store/uiMutationTypes.js",
    "src/app/views/AccountView.js",
    "src/app/views/AnnualReportView.js",
    "src/app/views/BalanceView.js",
    "src/app/views/BudgetView.js",
    "src/app/views/ClientView.js",
    "src/app/views/CompanyApprovalView.js",
    "src/app/views/CompanyDeleteView.js",
    "src/app/views/CompanyErpView.js",
    "src/app/views/CompanyLeaveView.js",
    "src/app/views/CompanyLogoView.js",
    "src/app/views/CompanyMappingView.js",
    "src/app/views/CompanySettingsView.js",
    "src/app/views/CompanySetupView.js",
    "src/app/views/CompanyStatsView.js",
    "src/app/views/CompanyUserView.js",
    "src/app/views/CompanyView.js",
    "src/app/views/ConnectAccountView.js",
    "src/app/views/ConnectCompanyView.js",
    "src/app/views/ConnectDineroView.js",
    "src/app/views/ConnectErpView.js",
    "src/app/views/ConnectionsListView.js",
    "src/app/views/ConnectionsView.js",
    "src/app/views/ConnectSegesView.js",
    "src/app/views/ConnectXenaView.js",
    "src/app/views/CoronaLandingView.js",
    "src/app/views/CoronaReportLinkJumpPage.js",
    "src/app/views/CoronaReportMailJumpPage.js",
    "src/app/views/CreateCompanyView.js",
    "src/app/views/DashboardView.js",
    "src/app/views/DeclineInvitationView.js",
    "src/app/views/ExportView.js",
    "src/app/views/ForgotView.js",
    "src/app/views/GatewayView.js",
    "src/app/views/HelpView.js",
    "src/app/views/InvitationExpiredView.js",
    "src/app/views/InvitationMetricsView.js",
    "src/app/views/InvitationsView.js",
    "src/app/views/InvoiceView.js",
    "src/app/views/LanguageView.js",
    "src/app/views/LedgerView.js",
    "src/app/views/LoginView.js",
    "src/app/views/LogoutView.js",
    "src/app/views/ManageBudgetView.js",
    "src/app/views/ManageDashboardsView.js",
    "src/app/views/ManageKpisView.js",
    "src/app/views/NewTosView.js",
    "src/app/views/PartnerView.js",
    "src/app/views/PresentationView.js",
    "src/app/views/ProcessInviteView.js",
    "src/app/views/ProcessUserInviteView.js",
    "src/app/views/ProfileInfoView.js",
    "src/app/views/ProfilePasswordView.js",
    "src/app/views/ProfileView.js",
    "src/app/views/PublicView.js",
    "src/app/views/RecoverView.js",
    "src/app/views/RegisterView.js",
    "src/app/views/ReportsView.js",
    "src/app/views/RootView.js",
    "src/app/views/SalesPotentialCompanyView.js",
    "src/app/views/SalesPotentialTotalView.js",
    "src/app/views/SalesPotentialView.js",
    "src/app/views/SegesPendingView.js",
    "src/app/views/SetupUserView.js",
    "src/app/views/SetupView.js",
    "src/app/views/SpecificTosView.js",
    "src/app/views/StatsView.js",
    "src/app/views/SummaryView.js",
    "src/app/views/TimeoutView.js",
    "src/app/views/UnsupportedView.js",
    "src/app/views/UpdatingView.js",
    "src/app/views/WarningsView.js"
  ],

  "overrides": [
    {
      // Don't expect config files to get imported
      "files": [
        "webpack.config.js",
        "stylelint.config.js",
        "gulpfile.js"
      ],
      "rules": {
        "import/no-unused-modules": 0
      }
    },
    {
      // Allow console in the gulp file
      "files": [
        "gulpfile.js"
      ],
      "rules": {
        "no-console": 0
      }
    },
    {
      // Don't expect entry files to get imported
      "files": [
        "src/appDev.js",
        "src/appDocker.js",
        "src/appProd.js",
        "src/appStaging.js"
      ],
      "rules": {
        "import/no-unassigned-import": 0,
        "import/no-unused-modules": 0
      }
    }
  ]
}
